header{
    position:fixed;
    top:0;
    bottom:0;
    width:100%;
    height:80px;
    background-color:transparent;
}
.menus{
    width:100%;
    height:70px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right:30px;
}

.menus li{
    width:120px;
    text-align: center;
}

.menus li a span{
    font-size:22px;
    font-weight:350;
}

#container.on{
    border-bottom:solid 1px #3333;
}