doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title toySite
        link(rel="stylesheet", href="/public/style/index.css")
        link(rel="stylesheet", href="/public/style/common.css")
        link(rel="stylesheet", href="/public/style/default.css")
        script(type="importmap").
            {
                "imports": {
                    "three": "https://cdn.jsdelivr.net/npm/three@0.167.1/+esm",
                    "trackControl":"https://cdn.jsdelivr.net/npm/three@0.166.1/examples/jsm/controls/TrackballControls.js",
                    "orbitControls": "https://cdn.jsdelivr.net/npm/three@0.166.1/examples/jsm/controls/OrbitControls.min.js",
                    "css2Renderer":"https://cdn.jsdelivr.net/npm/three@0.166.1/examples/jsm/renderers/CSS2DRenderer.js"
                }
            }
    body 
        header
            nav#container 
                ul.menus
                    li.item 
                        a(href="/about")
                            span About Me
                    li.item 
                        a(href="/map") 
                            span Map 
                    li.item 
                        a(href="/history") 
                            span Projects
        main
            article#contents_container
                section.content
                    #globe_container

        script(src="/public/js/chat.js")
        script.
        script( type="module" src="/public/js/globe.js")
