doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title toySite
        link(rel="stylesheet", href="/public/style/index.css")
    body 
        h1 Assembles!!!
        script(src="/public/js/app.js")