doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title toySite
        link(rel="stylesheet", href="/public/style/index.css")
        link(rel="stylesheet", href="/public/style/common.css")
        link(rel="stylesheet", href="/public/style/default.css")
        script(src="https://cdn.jsdelivr.net/npm/ol@10.0.0/dist/ol.js")
        script(type="importmap").
            {
                "imports": {
                    "three": "https://cdn.jsdelivr.net/npm/three@0.166.1/build/three.module.js",
                    "OrbitControls":"https://cdn.jsdelivr.net/npm/three@0.166.1/examples/jsm/controls/OrbitControls.min.js",
                    "three-globe":"https://cdn.jsdelivr.net/npm/three-globe@2.31.1/+esm",
                    "trackControl":"https://cdn.jsdelivr.net/npm/three@0.166.1/examples/jsm/controls/TrackballControls.js",
                    "transformControls":"https://cdn.jsdelivr.net/npm/three@0.166.1/examples/jsm/controls/TransformControls.js",
                    "css2Renderer":"https://cdn.jsdelivr.net/npm/three@0.166.1/examples/jsm/renderers/CSS2DRenderer.js",
                    "tween":"https://cdn.jsdelivr.net/npm/@tweenjs/tween.js@23.1.2/+esm"
                }
            }
    body
        div#container
            div#map
        script(type="module" src="/public/js/map.js")
        //- script( type="module" src="/public/js/globe.js")
